:root {
    --nav: #273469;
    --main: #FAFAFF;
    --font: #30343F;
    --font2: rgb(78, 75, 75);
    --accent: #E4D9FF;
    --accent2: #1E2749;
    --fontStyle: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --accent3: #aa4f84;
}



body {
    background-color: var(--main);
    color: var(--font);
    margin: 0;
}

header {
    background-color: var(--nav);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    padding: 10px;
}

#header_extension {
    border-Top: 200px solid var(--nav);
    border-left: 95vw solid transparent;
    animation-name: shrink;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    transition-timing-function: ease;
}

@keyframes shrink {
    from {
        border-Top: 100px solid var(--nav);;
    }
    to {
        border-Top: 0px solid var(--nav);;
    }
    
}

main {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-family: var(--fontStyle);
}

.header_button {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--main);
    background: none;
	border: 2px solid transparent;
	cursor: pointer;
    font-family: var(--fontStyle);
    font-weight: bold;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
}

.header_button:hover {
    border: 2px solid var(--main);
}

.header_button:before {
    content: '';
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.2s linear;
    z-index: -1;
    background: var(--accent2)
  }

.header_button:hover:before {
width: 100%;
}


#home_button {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--main);
}


.bold_with_line {
    text-decoration: overline;
    font-weight: bold;
}

.main_a {
    color:#30343F;
    font-weight: bold;
}

.main_a:hover {
    color: var(--font);
    background-color: var(--accent);
}

/*footer*/

footer {
    margin-top: 20px;
    background-color: var(--nav);
    padding: 20px;
}

footer > p {
    font-size: 20px;
    color: var(--main);
    font-family: var(--fontStyle);
    text-align: center;
    padding: 10px;
}

.footer_a {
    color: var(--accent3);
}

.footer_a:hover {
    color: var(--accent);
    background-color: var(--accent2);
}

.social_link_footer {
    text-decoration: none;
    padding: 10px;
    border: 1px var(--accent) solid;
    border-radius: 10px;
    height: 100%;
    color: var(--main);
    margin-right: 10px;
}

.social_link_footer:hover {
    color: var(--accent2);
    background-color: var(--main);
}

/* About Me */

.contact_me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.social_link {
    text-decoration: none;
    padding: 10px;
    border: 3px var(--accent2) solid;
    border-radius: 10px;
    color: var(--font);
    margin-right: 10px;
    height: 100%;
    box-shadow: 2px 2px 2px var(--accent2);
}

.social_link:hover {
    color: var(--accent);
    background-color: var(--accent2);
    box-shadow: 2px 2px 2px var(--accent3);
}

.contact_link {
    text-decoration: none;
    padding: 10px;
    border: 3px var(--accent2) solid;
    border-radius: 10px;
    color: var(--font);
    margin-right: 10px;
    width: 100px;
    font-family: var(--fontStyle);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 200%;
    box-shadow: 2px 2px 2px var(--accent2);
}

.contact_link:hover {
    color: var(--accent);
    background-color: var(--accent2);
    box-shadow: 2px 2px 2px var(--accent3);
}

.section {
    animation-name: fade_in;
    animation-duration: 1.5s;
}

.mainText {
    font-family: var(--fontStyle);
    color: var(--font2);
    vertical-align: middle;
    text-align: center;
    line-height: 150%;
    
}


#me_intro {
    display: flex;
    flex-direction: row;
}

#cv {
    width: 70%;
    margin: 20px auto 10px auto;
    font-family: var(--fontStyle);
    font-size: 20px;
    color: var(--font2);
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#portrait {
    margin-top: auto;
    margin-bottom: auto;
}

/* Music */
.music-iframe {
    border: none; 
    width: 380px; 
    height: 380px;
    margin: -2px;
    border-radius: 10px;
}


.carousel-outer {
    overflow: hidden;
}

.carousel-inner {
    white-space: nowrap;
    position: relative;
    left: 0;
    transition: left 0.8s ease;
}

.carousel-button {
    padding: 10px;
    border-radius: 10px;
    color: var(--nav);
    border: none;
    margin: 5px;
    background-color: transparent;
    position: relative;
    
}

.carousel-button:hover {
    color: var(--accent);
    background-color: var(--nav);
    opacity: 0.5;
}

#music-carousel {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.band-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.band-header > h2 {
    margin-right: 20px;
    vertical-align: middle;
}



/* media queries */

@media screen and (min-width: 1050px) {
    #me_intro {
        display: flex;
        flex-direction: row;
    }
    .mainText {
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #portrait {
        width: 30%;
        height: 50%;
    }
    .header_button {
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #home_button {
        margin-left: 20px;
        font-size: 30px;
    }
    nav {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
    }
}

@media screen and (max-width: 1049px) {
    #me_intro {
        display: flex;
        flex-direction: column;
    }
    #intro_text {
        position: relative;
        padding-top: 80px;
        top: -200px;
        /*background-color: rgba(250,250,255, 0.8);*/
        background: linear-gradient(to bottom, rgba(250, 250, 255, 0), rgba(250,250,255, 1) 20%);
    }
    #home {
        margin-bottom: -200px;
    }
    .mainText {
        font-size: 25px;
    }
    .header_button {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #cv {
        width: 100%; 
    }
    #home_button {
        margin-left: 15px;
        font-size: 25px;
    }
    #portrait {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .music-iframe {
        width: 300px; 
        height: 300px;
    }
    
}

@media screen and (max-width: 500px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-right: auto;
        margin-left: auto;

    }
    .header_button {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #home_button {
        margin-left: 8px;
        font-size: 20px;
    }
    #portrait {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #intro_text {
        position: relative;
        padding-top: 100px;
        top: -200px;
        /*background-color: rgba(250,250,255, 0.8);*/
        background: linear-gradient(to bottom, rgba(250,250,255, 0), rgba(250,250,255, 1) 15%);
    }
    #home {
        margin-bottom: -200px;
    }
    .music-iframe {
        width: 350px; 
        height: 350px;
    }
    #left {
        left: 50px;
        z-index: 2;
        margin-left: -50px;
    }
    
    #right {
        right: 50px;
        z-index: 2;
        margin-right: -50px;
    }
}

@media screen and (max-width: 350px) {
    .music-iframe {
        width: 300px; 
        height: 300px;
    }
}