:root {
    --nav: lightgrey;
    --main: ivory;
    --font: black;
}


body {
    background-color: var(--main);
    color: var(--font);
    margin: 0;
}

nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    padding: 10px;
}

header {
    background-color: var(--nav);
    width: 100%;
    margin: 0;
}

main {
    padding: 10px;
}